.list-container {
    margin: 5% 20%;
}

.Toastify__progress-bar.Toastify__progress-bar--animated.Toastify__progress-bar--default {
    display: none;
}

.Toastify__close-button.Toastify__close-button--default {
    display: none;
}

.Toastify__toast-body {
    min-height: unset;
}

.div-img-list, .div-img-list img {
    width: 100%;
    cursor: pointer;
}

.div-option {
    display: block;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-item:hover .div-img-list {
    opacity: 0.5;
}
.list-item:hover .btn-option {
    opacity: 1;
}

.list-item:hover .div-option {
    visibility: visible;
    opacity: 1;
    z-index: 5;
    cursor: pointer;
}

.list-item {
    position: relative;
}


.body {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
  }

  * {
    transition: all 0.5s;
    box-sizing: border-box;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #b3b3b3;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .btn-close {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }

  .btn-close:hover {
    transform: scale(1.1);

  }
  .nav-item {
text-decoration: none;
color: #000;
background-color: aquamarine;
padding: 10px;
margin: 0 5px;
overflow: hidden;
}
.active {
background-color: yellowgreen;
}

.scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
.scroll-bar::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #bb2222;
}

.scroll-bar {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 200px;
}