.background {
    border: unset;
    background-color: unset;
    display: block;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: auto;
    padding: 0;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999999;
    background: #fff;
    border: solid 1px #000;
    font-size: 20px;
    outline: none;
    padding: 15px;
}
.form-edittext, .form-overview {
    width: 50%;
    float: left;
    display: inline-block;
}
.form-container h1 {
    display: block;
    text-align: center;
}
.formcontai {
    padding: 15px 30px;
}
.div-img {
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;
    border: solid .5px #bbb;    
}
label {
    display: block;
}
.btn { display: inline-block;
    background-color: #fff;    
	padding: 10px 0;
	text-align: center;
	width: 60%;
    cursor: pointer;
    outline: none;
   
}
.btn:hover {
    color: #fff;
	border-radius: 25px;
}
.btn-save {
    border: solid 1px #990000;
    color: #990000;
}
.btn-cancel {
    border: solid 1px #000;
    color: #000;
}
.btn-save:hover {
    background-color: #990000;
    
}
.btn-cancel:hover {
    background-color: #000;
    
}
.form-group {
    padding: 5px 0;
}
.btn-add {
    border: solid 1px #ff6699;
    color: #000;
    margin: 10px 0;
}
.btn-add:hover {
    background-color: #ff6699;
}
.btn-option {
    width: 30%;
    background-color: #fff;    
	padding: 10px 0;
	text-align: center;
    cursor: pointer;
    outline: none;
    margin: 0 3px;

}
.btn-edit {
    border: solid 1px #ff9933;
    color: #000;
}
.btn-edit:hover {
    background-color: #ff9933;
    color: #fff;
}
.btn-delete {
    overflow: hidden;
    border: solid 1px #336699;
    color: #000;
}
.btn-delete:hover {
    background-color: #336699;
    color: #fff;
}